<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>gestionenegozio</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>listNegoziServlet</display-name>
    <servlet-name>listNegoziServlet</servlet-name>
    <servlet-class>it.prova.web.servlet.listNegoziServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listNegoziServlet</servlet-name>
    <url-pattern>/listNegoziServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreparaInsertArticolo</display-name>
    <servlet-name>PreparaInsertArticolo</servlet-name>
    <servlet-class>it.prova.web.servlet.PreparaInsertArticolo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreparaInsertArticolo</servlet-name>
    <url-pattern>/PreparaInsertArticolo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreparaInsertNegozioServlet</display-name>
    <servlet-name>PreparaInsertNegozioServlet</servlet-name>
    <servlet-class>it.prova.web.servlet.PreparaInsertNegozioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreparaInsertNegozioServlet</servlet-name>
    <url-pattern>/PreparaInsertNegozioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecuteInsertNegozioServlet</display-name>
    <servlet-name>ExecuteInsertNegozioServlet</servlet-name>
    <servlet-class>it.prova.web.servlet.ExecuteInsertNegozioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecuteInsertNegozioServlet</servlet-name>
    <url-pattern>/ExecuteInsertNegozioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListNegoziServlet</display-name>
    <servlet-name>ListNegoziServlet</servlet-name>
    <servlet-class>it.prova.web.servlet.ListNegoziServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListNegoziServlet</servlet-name>
    <url-pattern>/ListNegoziServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreparaRimuoviNegozioServlet</display-name>
    <servlet-name>PreparaRimuoviNegozioServlet</servlet-name>
    <servlet-class>it.prova.web.servlet.PreparaRimuoviNegozioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreparaRimuoviNegozioServlet</servlet-name>
    <url-pattern>/PreparaRimuoviNegozioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreparaUpdateNegozioServlet</display-name>
    <servlet-name>PreparaUpdateNegozioServlet</servlet-name>
    <servlet-class>it.prova.web.servlet.PreparaUpdateNegozioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreparaUpdateNegozioServlet</servlet-name>
    <url-pattern>/PreparaUpdateNegozioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecuteUpdateNegozioServlet</display-name>
    <servlet-name>ExecuteUpdateNegozioServlet</servlet-name>
    <servlet-class>it.prova.web.servlet.ExecuteUpdateNegozioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecuteUpdateNegozioServlet</servlet-name>
    <url-pattern>/ExecuteUpdateNegozioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecuteVisualizzaNegozioServlet</display-name>
    <servlet-name>ExecuteVisualizzaNegozioServlet</servlet-name>
    <servlet-class>it.prova.web.servlet.ExecuteVisualizzaNegozioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecuteVisualizzaNegozioServlet</servlet-name>
    <url-pattern>/ExecuteVisualizzaNegozioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecuteRemoveNegozioServlet</display-name>
    <servlet-name>ExecuteRemoveNegozioServlet</servlet-name>
    <servlet-class>it.prova.web.servlet.ExecuteRemoveNegozioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecuteRemoveNegozioServlet</servlet-name>
    <url-pattern>/ExecuteRemoveNegozioServlet</url-pattern>
  </servlet-mapping>
</web-app>